<div class="wholebody"
    style="margin-left: 160px;margin-right: 160px;box-shadow: 3px 3px 13px -3px #888888;border: 1px solid lightgrey;background: white;border-radius: 10px;padding: 30px 10px 10px 10px;">
    <div style="border: 1px solid lightgrey;border-radius: 10px;">
        <div style="height: 209px;position: relative;background: whitesmoke;display: flex;justify-content: center;">
            <ng-container *ngIf="service.oneuserdetail?.imgstr2!==null; else noofflineuser2">
                <img [src]="service.oneuserdetail.imgstr2" style="width:100%;height:100%">
            </ng-container>

            <ng-template #noofflineuser2>
                <div class="d-flex notmyimage me-2" style="    width: 100%;
                    height: 100%;
                    background-color: #bbffbb;
                    justify-content: left;
                    align-items: center;
                    font-size: xx-large;
                    font-family: cursive;">
                    NO COVER IMAGE</div>
            </ng-template>

            <button style="position: absolute;top:5px;left: 5px;border: 0px;background-color: transparent;"
                (click)="back()">
                <i style="color: grey;font-size: x-large;" class="bi bi-arrow-left-circle"></i></button>
            <div class="image d-flex justify-content-center mb-5">
                <div class="user-image d-flex justify-content-center">
                    <ng-container *ngIf="service.oneuserdetail?.imgstr!==null; else noofflineuser">
                        <img class="myimage" [src]="service.oneuserdetail.imgstr" alt=""
                            style="border-radius: 50%;width:150px;height:150px">
                    </ng-container>
                    <ng-template #noofflineuser>
                        <div class="user-text notmyimage me-2" style="border-radius: 50%;width:150px;height:150px">
                            {{service.oneuserdetail.name?.charAt(0)}}
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
        <div *ngIf="isLoading" class="buffer-screen">
            <img style="height: 30px;width: 30px;" src="https://media.tenor.com/_62bXB8gnzoAAAAj/loading.gif" alt="">
            <p class="text-center ms-2" style="font-size: larger; font-weight: 600;">Loading...</p>
        </div>
        <div class="container mt-4">
            <div class="middlesection pt-3" style="background: white;">
                <div style="text-align: center;font-size: 27px;font-weight: 500;" class="mb-3">
                    {{service.oneuserdetail?.name}}</div>
                <div class="p-3 d-flex" style="border-top:1px solid lightgrey">
                    <div class="mx-3" style="font-weight: 500;font-size: 16px;color: darkgray;cursor: pointer;"
                        (click)="changediv(1,service.oneuserdetail?.name)">
                        <span>Posts</span>
                    </div>
                    <div class="mx-3" style="font-weight: 500;font-size: 16px;color: darkgray;cursor: pointer"
                        (click)="changediv(2,service.oneuserdetail?.name)">
                        <span>Likes</span>
                    </div>
                    <div class="mx-3" style="font-weight: 500;font-size: 16px;color: darkgray;cursor: pointer"
                        (click)="changediv(3,service.oneuserdetail?.name)">
                        <span>Comments</span>
                    </div>
                    <div class="mx-3" style="font-weight: 500;font-size: 16px;color: darkgray;cursor: pointer"
                        (click)="changediv(4,service.oneuserdetail?.name)">
                        <span>Personal Info</span>
                    </div>
                </div>
            </div>

            <div class="datasection p-1" style="background: whitesmoke;">
                <div class="row p-2">
                    <div class="col-4" style="border-radius: 6px;">
                        <div class="m-2 p-2" style="background-color: white;">
                            <span style="font-size: 20px;font-weight: 500;" class="ms-2 mb-2">Intro</span>
                            <p class="pstyle d-flex align-items-center"><mat-icon class="mx-2"
                                    style="color: darkgray;margin-top: 6px;">queue</mat-icon>
                                <span class="spanstyle mx-1">
                                    {{service.oneuserdetail?.followers}} Follwers</span>
                            </p>

                            <p class="pstyle d-flex align-items-center"><mat-icon class="mx-2"
                                    style="color: darkgray;">info</mat-icon>
                                <span class="spanstyle mx-1">
                                    Page-AK ChatApp</span>
                            </p>
                            <p class="pstyle d-flex align-items-center"><mat-icon class="mx-2" style="color: darkgray;">
                                    phone</mat-icon>
                                <span class="spanstyle mx-1">
                                    {{service.oneuserdetail?.phonenumber}}</span>
                            </p>
                            <p class="pstyle d-flex align-items-center"><mat-icon class="mx-2" style="color: darkgray;">
                                    email</mat-icon>
                                <span class="spanstyle mx-1">
                                    {{service.oneuserdetail?.email}}</span>
                            </p>
                            <!-- <p>{{service.mutualFriends.names}}</p> -->
                        </div>
                        <div class="m-2 p-3" style="background-color: white;">
                            <div style="font-size: large; font-weight: 700;color: purple;">
                                Mutual Friends
                            </div>
                            <div style="overflow-y: auto;max-height: 275px;">
                                <div class="ms-3 mt-3" *ngFor="let mutualFriend of names; let i = index">
                                    <button (click)="mutualdetail(mutualFriend)" class="mutualbtn"
                                        *ngIf="images && images.length > 0">
                                        <div class="d-flex">
                                            <span class="me-2" *ngIf="images[i];else noofflineuser">
                                                <img style="width:40px;height:40px;border-radius:50%" [src]="images[i]">
                                            </span>
                                            <ng-template #noofflineuser>
                                                <div class="smUser-text me-2" style="">
                                                    {{ mutualFriend.charAt(0) }}</div>
                                            </ng-template>
                                            <span
                                                style="font-size: larger;font-weight: 600;display: flex;align-items: center;">
                                                {{ mutualFriend }}</span>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-8 mt-2" style="border-radius: 6px;">
                        <div *ngIf="selecteddiv===1" class="p-3 d-flex flex-column" style="background: white;">
                            <div style="font-size:18px;font-weight: 500;">
                                Posts
                            </div>
                            <ng-container *ngIf="myposts.length===0;else noLikes">
                                <div>
                                    No Likes are added in any post
                                </div>
                            </ng-container>
                            <ng-template #noLikes>
                                <div class="row" style="height: 481px;overflow-y: auto;">
                                    <div class="col-3" *ngFor="let user of myposts"
                                        (click)="redirectToPost(user.galleryId)">
                                        <img style="height:115px;width:100%;border-radius:10px;box-shadow: 5px 5px 10px;"
                                            [src]="user.imgstr || 'default-image-url'">
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                        <div *ngIf="selecteddiv===2" class="p-3 d-flex flex-column" style="background: white;">
                            <div style="font-size:18px;font-weight: 500;">
                                Likes
                            </div>
                            <ng-container *ngIf="likeposts.length===0;else noLikes">
                                <div>
                                    No Likes are added in any post
                                </div>
                            </ng-container>
                            <ng-template #noLikes>
                                <div class="row" style="height: 481px;overflow-y: auto;">
                                    <div class="col-3" *ngFor="let user of likeposts"
                                        (click)="redirectToPost(user.postid)">
                                        <img style="height:115px;width:100%;border-radius:10px;box-shadow: 5px 5px 10px;"
                                            [src]="user.imgstr || 'default-image-url'">
                                    </div>
                                </div>
                            </ng-template>

                        </div>
                        <div *ngIf="selecteddiv===3" class="p-3 d-flex flex-column" style="background: white;">
                            <div style="font-size:18px;font-weight: 500;">
                                Comments
                            </div>
                            <ng-container *ngIf="posts.length===0;else noComments">
                                <div>
                                    No comments are added in any post
                                </div>
                            </ng-container>
                            <ng-template #noComments>
                                <div style="height: 481px;overflow-y: auto;" #noComments>
                                    <div class="d-flex justify-content-between mb-2"
                                        style="border-bottom: 1px solid lightgrey;" *ngFor="let post of posts">
                                        <div class="d-flex flex-column" style="flex:6;">
                                            <div class="d-flex position-relative">
                                                <div class="d-flex align-items-center">
                                                    <span style="width: 9%;"><img [src]="post.uplodeduserimg"
                                                            style="width:100%;height:100%"></span>
                                                    <span class="ms-1 fw-bolder me-2">{{post.uplodedby}}</span>
                                                    <span class="fw-bolder">{{post.caption}}</span>
                                                </div>
                                                <img class="position-absolute" src="/assets/img/curveddownarrow.png"
                                                    style="width: 20px;height: 20px;top: 101%;left: 3%;">
                                            </div>
                                            <div class="ms-5">
                                                <ng-container
                                                    *ngIf="post.comments && post.comments.length > 0; else noComments">
                                                    <div *ngFor="let comment of getComments(post)"
                                                        class="d-flex align-items-center">
                                                        <p style="width:33px"><img [src]="service.oneuserdetail.imgstr"
                                                                style="width:100%;height:100%"></p>
                                                        <p class="ms-2">{{ service.oneuserdetail?.name }}: {{ comment }}
                                                        </p>
                                                    </div>
                                                    <div *ngIf="post.comments.length > maxCommentsToShow">
                                                        <a class="fw-bolder"
                                                            style="text-decoration: none;color: #3F51B5;cursor: pointer;"
                                                            (click)="toggleShowMore(post)">{{ post.showMore ? 'Show Less
                                                            Comments' : 'Show More Comments' }}</a>
                                                    </div>
                                                </ng-container>
                                                <ng-template #noComments>
                                                    <p>No comments added.</p>
                                                </ng-template>
                                            </div>
                                        </div>
                                        <div class="" style="flex:1;width:40%;">
                                            <img [src]="post.image || 'default-image-url'" alt="Post Image"
                                                style="width:100%;height:90px;max-height: 104px;border-radius: 6px;box-shadow:5px 10px 8px #888888;">
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                        <div *ngIf="selecteddiv===4" class="p-3 d-flex flex-column" style="background: white;">
                            <div style="font-size:18px;font-weight: 500;">
                                Details
                            </div>
                            <div class="links mt-3 d-flex flex-column">
                                <div style="background: whitesmoke;font-size: 21px;font-weight: 200;padding: 6px;">
                                    Personal Details
                                </div>
                                <div class="item1 d-flex" style="gap:10px">
                                    <div class="item1-links d-flex flex-column half-size">
                                        <label for="Name" style="font-size: 16px;font-weight: 500;">Name
                                        </label>
                                        <div class=" mb-3 d-flex align-items-center"
                                            style="border: solid rgb(185, 185, 185) 1px;border-radius: 5px;">
                                            <img style="width: 34px;height: 36px;font-size: x-large;border-right: solid rgb(185, 185, 185) 1px;padding: 5px;"
                                                src='/assets/img/profile.png' />
                                            <!-- <i class="bi bi-link-45deg"
                                                style="font-size: x-large;border-right: solid rgb(185, 185, 185) 1px;padding: 5px;"></i> -->
                                            <p class="mb-0 ms-2" style="font-size: 19px;">
                                                {{service.oneuserdetail?.name}}</p>
                                        </div>
                                    </div>
                                    <div class="item1-links d-flex flex-column half-size">
                                        <label for="Name" style="font-size: 16px;font-weight: 500;">Birth Date</label>
                                        <div class=" mb-3 d-flex "
                                            style="border: solid rgb(185, 185, 185) 1px;border-radius: 5px;">
                                            <mat-icon
                                                style="width: 33px;height: 36px;font-size: 32px;border-right: solid rgb(185, 185, 185) 1px;">
                                                cake
                                            </mat-icon>
                                            <p class="mb-0 ms-2" style="font-size: 19px;">
                                                {{service.oneuserdetail?.dob | date:'MMM dd'}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item2 d-flex" style="gap:10px">
                                    <div class="item1-links d-flex flex-column half-size">
                                        <label for="Name" style="font-size: 16px;font-weight: 500;">Gender</label>
                                        <div class=" mb-3 d-flex align-items-center"
                                            style="border: solid rgb(185, 185, 185) 1px;border-radius: 5px;">
                                            <mat-icon
                                                style="width: 33px;height: 36px;font-size: 32px;border-right: solid rgb(185, 185, 185) 1px;">supervised_user_circle</mat-icon>

                                            <p class="mb-0 ms-2" style="font-size: 19px;">
                                                {{service.oneuserdetail?.gender}}</p>
                                        </div>
                                    </div>
                                    <div class="item1-links d-flex flex-column half-size">
                                        <label for="Name" style="font-size: 16px;font-weight: 500;">Martial
                                            Status</label>
                                        <div class=" mb-3 d-flex align-items-center"
                                            style="border: solid rgb(185, 185, 185) 1px;border-radius: 5px;">
                                            <mat-icon
                                                style="width: 33px;height: 36px;font-size: 32px;border-right: solid rgb(185, 185, 185) 1px;">person</mat-icon>

                                            <p class="mb-0 ms-2" style="font-size: 19px;">
                                                {{service.oneuserdetail?.status}}</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="links mt-3 d-flex flex-column">
                                <div style="background: whitesmoke;font-size: 21px;font-weight: 200;padding: 6px;">
                                    Education/Workplace
                                </div>
                                <div class="item1 d-flex" style="gap:10px">
                                    <div class="item1-links d-flex flex-column half-size">
                                        <label for="Name" style="font-size: 16px;font-weight: 500;">SchoolName
                                        </label>
                                        <div class=" mb-3 d-flex align-items-center"
                                            style="border: solid rgb(185, 185, 185) 1px;border-radius: 5px;">
                                            <img style="width: 34px;height: 36px;font-size: x-large;border-right: solid rgb(185, 185, 185) 1px;padding: 5px;"
                                                src='/assets/img/school.png' />

                                            <!-- <i class="bi bi-link-45deg"
                                                style="font-size: x-large;border-right: solid rgb(185, 185, 185) 1px;padding: 5px;"></i> -->
                                            <p class="mb-0 ms-2" style="font-size: 19px;">
                                                {{service.oneuserdetail?.schoolname}}</p>
                                        </div>
                                    </div>
                                    <div class="item1-links d-flex flex-column half-size">
                                        <label for="Name" style="font-size: 16px;font-weight: 500;">CollegeName</label>
                                        <div class=" mb-3 d-flex align-items-center"
                                            style="border: solid rgb(185, 185, 185) 1px;border-radius: 5px;">
                                            <img style="width: 33px;height: 36px;font-size: 32px;border-right: solid rgb(185, 185, 185) 1px;"
                                                src='/assets/img/clg.png' />

                                            <p class="mb-0 ms-2" style="font-size: 19px;">
                                                {{service.oneuserdetail?.clgname}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="links mt-3 d-flex flex-column">
                                <div style="background: whitesmoke;font-size: 21px;font-weight: 200;padding: 6px;">
                                    SocialNetwork Links
                                </div>
                                <div class="item1 d-flex" style="gap:10px">
                                    <div class="item1-links d-flex flex-column half-size">
                                        <label for="Name" style="font-size: 16px;font-weight: 500;">TwitterLink
                                        </label>
                                        <div class=" mb-3 d-flex align-items-center"
                                            style="border: solid rgb(185, 185, 185) 1px;border-radius: 5px;">
                                            <img style="width: 34px;height: 36px;font-size: x-large;border-right: solid rgb(185, 185, 185) 1px;padding: 5px;"
                                                src='/assets/img/twitter.jpg' />
                                            <!-- <i class="bi bi-link-45deg"
                                                style="font-size: x-large;border-right: solid rgb(185, 185, 185) 1px;padding: 5px;"></i> -->
                                            <p class="mb-0 ms-2" style="font-size: 19px;">
                                                {{service.oneuserdetail?.twitterlink}}</p>
                                        </div>
                                    </div>
                                    <div class="item1-links d-flex flex-column half-size">
                                        <label for="Name" style="font-size: 16px;font-weight: 500;">FacebookLink</label>
                                        <div class=" mb-3 d-flex align-items-center"
                                            style="border: solid rgb(185, 185, 185) 1px;border-radius: 5px;">
                                            <img style="width: 33px;height: 36px;font-size: 32px;border-right: solid rgb(185, 185, 185) 1px;"
                                                src='/assets/img/facebook.jpg' />
                                            <p class="mb-0 ms-2" style="font-size: 19px;">
                                                {{service.oneuserdetail?.facebooklink}}</p>
                                        </div>
                                    </div>

                                </div>
                                <div class="item1 d-flex" style="gap:10px">
                                    <div class="item1-links d-flex flex-column half-size">
                                        <label for="Name" style="font-size: 16px;font-weight: 500;">InstaLink
                                        </label>
                                        <div class=" mb-3 d-flex align-items-center"
                                            style="border: solid rgb(185, 185, 185) 1px;border-radius: 5px;">
                                            <img style="width: 34px;height: 36px;font-size: x-large;border-right: solid rgb(185, 185, 185) 1px;padding: 5px;"
                                                src='/assets/img/insta.jpg' />

                                            <!-- <i class="bi bi-link-45deg"
                                                style="font-size: x-large;border-right: solid rgb(185, 185, 185) 1px;padding: 5px;"></i> -->
                                            <p class="mb-0 ms-2" style="font-size: 19px;">
                                                {{service.oneuserdetail?.instalink}}</p>
                                        </div>
                                    </div>
                                    <div class="item1-links d-flex flex-column half-size">
                                        <label for="Name" style="font-size: 16px;font-weight: 500;">LinkdinLink</label>
                                        <div class=" mb-3 d-flex align-items-center"
                                            style="border: solid rgb(185, 185, 185) 1px;border-radius: 5px;">
                                            <img style="width: 33px;height: 36px;font-size: 32px;border-right: solid rgb(185, 185, 185) 1px;"
                                                src='/assets/img/linkdin.jpg' />
                                            <p class="mb-0 ms-2" style="font-size: 19px;">
                                                {{service.oneuserdetail?.linkdinlink}}</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>













        <!-- <div class="d-flex justify-content-center">
    <div class="col-10"> -->



        <!-- <div class="row d-flex justify-content-center main-body mt-5 mb-5">
            <div class="col-12 col-md-8 mb-5">








                <mat-card>
                    <div class="div1 d-flex justify-content-between">
                        <mat-card-content class="d-flex flex-column half-size">

                            <mat-form-field appearance="outline">
                                <mat-label>Name</mat-label>
                                <input matInput formControlName="name" readonly="true"
                                    value={{service.oneuserdetail.name}}>

                            </mat-form-field>
                        </mat-card-content>
                        <mat-card-content class="d-flex flex-column half-size">
                            <mat-form-field appearance="outline">
                                <mat-label>Email</mat-label>

                                <input matInput formControlName="email" readonly="true"
                                    value={{service.oneuserdetail.email}}>
                            </mat-form-field>
                        </mat-card-content>
                    </div>


                    <div class="div1 d-flex justify-content-between">
                        <mat-card-content class="d-flex flex-column mb-4 content-with-border half-size">
                            <div class="d-flex">
                                <mat-label>Gender</mat-label>

                                <mat-radio-group class="mb-2" formControlName="gender" readonly="true"
                                    value={{service.oneuserdetail.gender}}>
                                    <mat-radio-button class="ms-4" value="Male">Male</mat-radio-button>
                                    <mat-radio-button class="ms-4" value="Female">Female</mat-radio-button>
                                    <mat-radio-button class="ms-4" value="Other">Other</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </mat-card-content>

                        <mat-card-content class="d-flex flex-column content-with-border half-size">
                            <div class="d-flex">
                                <mat-label>Status</mat-label>

                                <mat-radio-group style="width:56%" class="mb-2" formControlName="status" readonly="true"
                                    value={{service.oneuserdetail.status}}>
                                    <mat-radio-button class="ms-4" value="Single">Single</mat-radio-button>
                                    <mat-radio-button class="ms-4" value="Married">Married</mat-radio-button>
                                    <mat-radio-button class="ms-4" value="Prefer Not To Say">Prefer Not To
                                        Say</mat-radio-button>
                                </mat-radio-group>
                            </div>

                        </mat-card-content>
                    </div>

                    <div class="div1 d-flex justify-content-between">


                        <mat-card-content class="d-flex flex-column half-size">
                            <mat-form-field appearance="outline">
                                <mat-label>About Me</mat-label>

                                <input matInput formControlName="about" readonly="true"
                                    value={{service.oneuserdetail.aboutme}}>
                            </mat-form-field>
                        </mat-card-content>

                    </div> -->



        <!-- <mat-card-content class="d-flex flex-column about">
                        <label>About me</label>
                   

                        <p></p>


                    </mat-card-content> -->







        <mat-card-content class="d-flex flex-column" style="margin-left: 0px !important;width:100% !important">
            <div class="d-flex align-items-center">
                <label class="me-1" style="font-size: 17px;font-weight: 500;">WorkPlace</label>
                <img style="width:23px;height:24px" src='/assets/img/workicon.png' />
            </div>
        </mat-card-content>



    </div>
</div>