.main-body
{
    height: fit-content;
}
.custom-input{
    border:none;
    width: 100%;
    border-bottom: 0.5px solid grey;
}
.custom-input:focus{
    border:none !important;
    outline: none;
    border-bottom: 0.5px solid lightgray !important;
}
.mat-card{
    margin: 2%;
    text-align: left;
    box-shadow: 2px 2px 14px 16px rgb(182 182 182 / 40%), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.date{
    margin-bottom: 20px;
         width: fit-content;
         border: solid #dbdbdb 1px;
         padding: 7px;
         border-radius: 5px;
         
}



.content-with-border{
    border: solid #dbdbdb 1px;
    padding: 15px;
    border-radius: 5px;
}

.user-image{
    background: white;

    border-radius: 50%; 
}
.user-text{
    height: 200px;
    width: 200px;
     /* height: 88px; width: 88px;  */
     border-radius: 50%;
    background-color: rgb(231, 231, 231);
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-weight: 600;
    font-size: xxx-large;
}

.image-input{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    opacity: 0;
    position: absolute;
    z-index: 22;
}

.edit-pencil{
    position: absolute;
    right: 0px;
    bottom : 0px;
    background-color: #22ce22;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

:host ::ng-deep .mat-form-field-infix{
    display: flex;
}

.date-toggle{    
    position: absolute;
    right: 5px;
}
.half-size{
    width:48%;
    height: fit-content;
}

.about {
    width: 93% !important;
}

.image{
    position: absolute;
    top: 40%;
}

.card{
    width: 45%;
    /* / max-height: 220px; / */
    min-height: 350px;
}
.pstyle{
    font-weight: 600;font-size: larger;
}

.spanstyle{
    font-weight: 400;font-size:15px ;
}

.mutual-div{
    width: 100% !important;
}
.mutualbtn{
    width: 100%;
    background-color: #eebdee;
    border: 0px;
    padding: 5px;
    border-radius: 12px;
}

.buffer-screen {
    z-index: 22;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(209, 209, 209, 0.8);
     /* / Semi-transparent background / */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wholebody{
    position: relative;
    margin-left: 11%;
    margin-right: 11%;
    box-shadow: 3px 3px 13px -3px #888888;
    border: 1px solid lightgrey;
    background: white;
    border-radius: 10px;
    padding: 30px 10px 10px 10px;
  }

  .smUser-text{
    width:40px;height:40px;border-radius:50%;
    margin-top: auto;
    margin-bottom: auto;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-weight: 600;
    font-size: large;
  }


  @media screen and (max-width:769px){
    .div1{
      flex-direction: column !important;
    }
    .half-size{
      width: 100% !important;
    }
  }

  @media screen and (max-width:1500px){
    .wholebody{
        margin-left: 7%;
        margin-right:7%;
    }
  }

  @media screen and (max-width:1381px){
    .wholebody{
        margin-left: 4%;
        margin-right:4%;
    }
  }
  
  @media screen and (max-width:1381px){
    .wholebody{
        margin-left: 0%;
        margin-right:0%;
    }
  }
  @media screen and (max-width:1230px){
   .afterbase{
    flex-direction: column;
   }
   .afteritem1{
    width:100%;
    display: flex;

   }
   .afteritem2{
    width:100%;
   }
   .afteritem1_2{
    width:50%;
   }
   .afteritem1_1{
    width:50%;
   }
  }