<div style="width: 100%;padding: 10px;position: relative;height: 100%;overflow-x: hidden;">
    <div class="text-center text-success" style="font-weight: 800;font-size: larger;">
        Comments
    </div>
    <div style="overflow-y: auto;height: 330px;">
        <div *ngFor="let data of commentData">
            <div class="ms=2 mt-1" style="background-color: rgb(213, 213, 213);margin: 0px;">
                <p class="ms-2 p-0 me-2 mb-0" style="font-weight: 600;">{{data.commenter}}</p>
                <p class="p-0">{{data.comment}}</p>
            </div>
            <hr>
        </div>
    </div>


    <form class="mb-2" style="display: flex;position: absolute;bottom: 0px;width: 94%;" [formGroup]="commentForm"
        (ngSubmit)="onFormSubmit()">
        <div style="display: flex;width: 100%;">
            <input type="text" id="fname" value="" placeholder="Enter Comment..." name="comment"
                formControlName="comment" style="flex: 1;">
            <input class="ms-2" type="submit" value="Send">
        </div>
    </form>



</div>