<div class="d-flex justify-content-center mt-5 mainBody">
    <div class="" style="width: 350px;">
        <main class="form-signin" style="box-shadow: 7px 7px 10px #b7b7b7;">
            <form [formGroup]="forget" (ngSubmit)="submitForm()" autocomplete="off" class="p-3 border">
                <p class="mb-3 mt-3 text-center" style=" color: grey;">Enter your Email here</p>



                <!-- <h4>Choose your name</h4> -->
                <div class=" mb-3 d-flex" style="border: solid rgb(185, 185, 185) 1px;border-radius: 5px;">
                    <i class="bi bi-person-fill"
                        style="font-size: x-large;border-right: solid rgb(185, 185, 185) 1px;padding: 5px;"></i>

                    <!-- <input style="padding: 0px;" matInput formControlName="email"> -->
                    <input formControlName="email" name="email" type="email" class="form-control " style="border: 0px;"
                        placeholder="Enter your email address">

                    <!-- <mat-card-content class="d-flex flex-column half-size" style="padding: 0px;">
                        <mat-form-field appearance="outline" style="padding: 0px;">
                            <input style="padding: 0px;" matInput formControlName="email">
                        </mat-form-field>
                    </mat-card-content> -->



                </div>


                <!-- <h4>Enter Password</h4> -->

                <!-- <div class=" mb-3 d-flex" style="border: solid rgb(185, 185, 185) 1px;border-radius: 5px;">
                    <i class="bi bi-key-fill"
                        style="font-size: x-large;border-right: solid rgb(185, 185, 185) 1px;padding: 5px;"></i>

                </div> -->



                <div class="d-grid mt-4 ">
                    <button class="btn btn-warning" type="submit">send OTP</button>
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <p class="noAccount">Go back to</p>
                    <a class="" style="text-decoration: none;" [routerLink]="['/login']">Login</a>

                </div>




            </form>

        </main>
    </div>
</div>