<div id="progressBar">
    <div class="bar"></div>
  </div>
<div style="position: relative;" >
    <h2 class="ms-5">{{storydata.uploadedUser}}</h2>




    <div class="abhi d-flex justify-content-center mb-2">
        <!-- <img style="width: 100%;height: 644px;" src="{{storydata.imgstr}}" alt=""> -->
    
    
        <!-- <div id="carouselExampleSlidesOnly" data-interval="3000" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" style="width: 100%;height: 644px;">
              <div class="carousel-item active">
                <img class="d-block w-100" src="{{storydata.imgstr}}" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIo8JvX8GztcxTVf3XPGKaArNJbYMpMKJ3Hg&usqp=CAU" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="{{storydata.imgstr}}" alt="Third slide">
              </div>
            </div>
          </div> -->


          <!-- <div *ngFor="let element of elements" class="carousel-item">
            <img style="width: 100px; height: 544px;" [src]="element" class="d-block w-10" alt="not found">
          
      </div> -->
      <!-- <div id="carouselExampleControls" style="height:400px;width:400px" class="abhi1 carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
         


          

          <div *ngFor="let element of newElements" class="carousel-item">
            <img style="width: auto; height: 544px;" [src]="element" class=" w-10" alt="not found">
          </div>
          <div class="carousel-item">
            <img style="width: auto; height: 544px;" src="https://ik.imagekit.io/freshman/base64_0FQBjgSlJVSv.png" class="d-block w-10" alt="not found">
          </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div> -->
          



      <!-- WORKIN BUT WITH SCROLL BAR -->


      <!-- <div id="carouselExampleControls" style="height: 400px; width: 400px;" class="abhi1 carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          
          
          <ng-container *ngFor="let element of newElements; let i = index" [class.carousel-item]="i === 0" [class.active]="i === 0">
          <div class="" >
            <img style="width: auto; height: 544px;" [src]="element" class="w-100" alt="not found">
          </div>
          </ng-container>


        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div> -->




<!-- working but shows images inline -->



      <!-- <div class="slideshow-container" *ngFor="let element of newElements; let i = index"> -->

        <!-- <div class="mySlides fade"> -->
          <!-- <div class="numbertext">1 / 3</div>
          <img src="img_nature_wide.jpg" style="width:100%">
          <div class="text">Caption Text</div>
        </div> -->
        
        <!-- <div class="mySlides fade">
          <div class="numbertext">2 / 3</div>
          <img src="img_snow_wide.jpg" style="width:100%">
          <div class="text">Caption Two</div>
        </div> -->

         <!-- <ng-container class="mySlides fade" >
            <div class="" >
              <img style="width: auto; height: 544px;" [src]="element" class="w-100" alt="not found">
            </div>
        </ng-container>
        
       
        
        </div>
        <br>
        
        <div style="text-align:center">
          <span class="dot"></span> 
          <span class="dot"></span> 
          <span class="dot"></span> 
        </div> -->
      

<!-- new inline -->

        <!-- <div id="carousel-slider" *ngFor="let element of newElements">
            <div>
                <img style="width:100%; height:100%;" [src]="element" class="d-block w-100" alt="not found">
            </div>
          
        </div> -->





        <div class="slider">
            <div>
              <div (click)="goToPrevious()" id="restartButton" class="leftArrow" style="color: black;">❰</div>
              <div (click)="goToNext()" class="rightArrow" style="color: black;">❱</div>
            </div>
            <div style="width: 740px; height: 544px;"
              class="slide"
              [ngStyle]="{ 'background-image': getCurrentSlideUrl() }"
            ></div>
            <!-- <div class="dotsContainer mt-5">
              <div
                *ngFor="let slide of newElements; let slideIndex = index"
                class="dot"
                (click)="goToSlide(slideIndex)"
              >
                ●
              </div>
            </div> -->
          </div>







    
    
    
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <div class="m-0 b-0 p-0" style="background-color: black;width: 100%;height: 30px;opacity: 0.6;position: absolute;bottom: 20px;"></div>
        <div class="text-center" style="position: absolute;bottom: 25px;"><p style="margin-bottom: 0px;color: rgb(0, 0, 0);font-weight: 400;color: white;font-weight: 400;font-size: larger;" class="mb-1">{{storydata.caption}}</p></div>
    </div>
    
</div>
<!-- 
<script>
      function progress(timeleft, timetotal, $element) {
    var progressBarWidth = timeleft * $element.width() / timetotal;
    $element.find('div').animate({ width: progressBarWidth }, 500).html(Math.floor(timeleft/60) + ":"+ timeleft%60);
    if(timeleft > 0) {
        setTimeout(function() {
            progress(timeleft - 1, timetotal, $element);
        }, 1000);
    }
};

progress(600, 600, $('#progressBar'));
</script> -->


<!-- <script>
    $("#carousel-slider").slick({
    arrows: false,
    infinite: true,
    slidesToShow: 1,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 1500,
    mobileFirst: true
});
</script> -->