<div class="dialogue-container"   style="z-index:1002;">
    <span class="fw-bolder me-3">People Who Reacted</span>
    <span ><i class="bi bi-heart-fill open1div" style="height:35px;width:40px; color: red;"></i></span>
    <hr>

    <div class="d-flex" style="position:relative" *ngFor="let user of service.likemembers">
        <span class="text-primary">{{user.username}}</span>
        <span style="position: absolute;right: 0px;"><i class="bi bi-heart-fill open1div" style="height:35px;width:40px; color: red;"></i></span>
        <hr>
    </div>
</div>
