<div class="row d-flex justify-content-center main-body mt-5 mb-5">
    <div class="col-12 col-md-8">
        <form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">



            <div class="d-flex justify-content-center mb-5">
                <div class="user-image d-flex justify-content-center">
                    <input class="image-input" type="file" #Image accept="image/*" (change)="handleFileInput($event)">
                    <img class="user-image" [src]="imageUrl" alt="">
                    <div class="edit-pencil"><i class="bi bi-pencil-square"
                            style="font-size: x-large;color: white;"></i></div>
                </div>
            </div>



            <mat-horizontal-stepper #stepper labelPosition="bottom">

                <mat-step label="Personal Details">
                    <mat-card>
                        <div class="div1 d-flex justify-content-between">
                            <mat-card-content class="d-flex flex-column half-size">
                                <label>Name</label>
                                <mat-form-field appearance="outline">
                                    <mat-label>Name</mat-label>
                                    <input matInput formControlName="name">
                                </mat-form-field>
                            </mat-card-content>
                            <mat-card-content class="d-flex flex-column half-size">
                                <label>Email</label>
                                <mat-form-field appearance="outline">
                                    <mat-label>Email</mat-label>
                                    <input matInput formControlName="email">
                                </mat-form-field>
                            </mat-card-content>
                        </div>


                        <div class="div1 d-flex justify-content-between">
                            <mat-card-content class="d-flex flex-column mb-4 content-with-border half-size">
                                <div class="d-flex">
                                    <label>Gender :</label>
                                    <mat-radio-group class="mb-2" formControlName="gender">
                                        <mat-radio-button class="ms-4" value="Male">Male</mat-radio-button>
                                        <mat-radio-button class="ms-4" value="Female">Female</mat-radio-button>
                                        <mat-radio-button class="ms-4" value="Other">Other</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </mat-card-content>

                            <mat-card-content class="d-flex flex-column content-with-border half-size">
                                <div class="d-flex">
                                    <label>Status :</label>
                                    <mat-radio-group class="mb-2" formControlName="status">
                                        <mat-radio-button class="ms-4" value="Single">Single</mat-radio-button>
                                        <mat-radio-button class="ms-4" value="Married">Married</mat-radio-button>
                                        <mat-radio-button class="ms-4" value="Prefer Not To Say">Prefer Not To
                                            Say</mat-radio-button>
                                    </mat-radio-group>
                                </div>

                            </mat-card-content>
                        </div>




                    </mat-card>
                    <button class="ms-4" mat-button matStepperNext style="background-color: #b4b4ff">next <i
                            class="bi bi-caret-right"></i></button>
                </mat-step>






                <mat-step label="More Details">

                    <mat-card>
                        <div class="div1 d-flex justify-content-between">

                            <mat-card-content class="d-flex flex-column half-size">
                                <label>Phone Number</label>
                                <mat-form-field appearance="outline">

                                    <mat-label>Phone Number</mat-label>
                                    <input matInput formControlName="phonenumber">
                                </mat-form-field>

                            </mat-card-content>


                            <mat-form-field class="date half-size">
                                <div>
                                    <label>Choose Your Birth date :</label>
                                    <input matInput [matDatepicker]="picker" formControlName="dob">
                                </div>
                                <mat-hint>MM/DD/YYYY</mat-hint>
                                <mat-datepicker-toggle class="date-toggle" matIconSuffix
                                    [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>

                        </div>



                        <mat-card-content class="d-flex flex-column">
                            <label>About me</label>
                            <mat-form-field appearance="outline">

                                <mat-label>About Me</mat-label>
                                <input matInput formControlName="aboutme">
                            </mat-form-field>

                        </mat-card-content>

                        <mat-card-content class="d-flex justify-content-center">
                            <button (click)="button1()" mat-raised-button color="primary" class="w-50"
                                type="submit">Save</button>
                        </mat-card-content>




                    </mat-card>
                    <button class="ms-4" mat-button matStepperPrevious style=" background-color: #ff8686;">previous <i
                            class="bi bi-caret-left"></i></button>
                    <button #button2 class="ms-2" mat-button matStepperNext style=" background-color: #b4b4ff">next <i
                            class="bi bi-caret-right"></i></button>

                </mat-step>




                <mat-step label="completed">
                    <div style="height:400px; display: flex; justify-content: center;align-items: center;">
                        <p style="font-size: xx-large;font-weight: 800; color: rgb(96, 168, 255);"> Thank You...</p>
                    </div>
                    <button class="ms-4" mat-button matStepperPrevious style=" background-color: #ff8686;">previous <i
                            class="bi bi-caret-left"></i></button>

                </mat-step>
            </mat-horizontal-stepper>
        </form>



        <!-- <form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
            <mat-card>

                <div class="d-flex justify-content-center mb-5">
                    <div class="user-image d-flex justify-content-center">
                        <input class="image-input" type="file" #Image accept="image/*"
                            (change)="handleFileInput($event)">
                        <img class="user-image" [src]="imageUrl" alt="">
                        <div class="edit-pencil"><i class="bi bi-pencil-square"
                                style="font-size: x-large;color: white;"></i></div>
                    </div>
                </div>

                <div class="div1 d-flex justify-content-between">
                    <mat-card-content class="d-flex flex-column half-size">
                        <label>Name</label>
                        <mat-form-field appearance="outline">
                            <mat-label>Name</mat-label>
                            <input matInput formControlName="name">
                        </mat-form-field>
                    </mat-card-content>
                    <mat-card-content class="d-flex flex-column half-size">
                        <label>Email</label>
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email">
                        </mat-form-field>
                    </mat-card-content>
                </div>


                <div class="div1 d-flex justify-content-between">
                    <mat-card-content class="d-flex flex-column mb-4 content-with-border half-size">
                        <div class="d-flex">
                            <label>Gender :</label>
                            <mat-radio-group class="mb-2" formControlName="gender">
                                <mat-radio-button class="ms-4" value="Male">Male</mat-radio-button>
                                <mat-radio-button class="ms-4" value="Female">Female</mat-radio-button>
                                <mat-radio-button class="ms-4" value="Other">Other</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </mat-card-content>

                    <mat-card-content class="d-flex flex-column content-with-border half-size">
                        <div class="d-flex">
                            <label>Status :</label>
                            <mat-radio-group class="mb-2" formControlName="status">
                                <mat-radio-button class="ms-4" value="Single">Single</mat-radio-button>
                                <mat-radio-button class="ms-4" value="Married">Married</mat-radio-button>
                                <mat-radio-button class="ms-4" value="Prefer Not To Say">Prefer Not To
                                    Say</mat-radio-button>
                            </mat-radio-group>
                        </div>

                    </mat-card-content>
                </div>

                <div class="div1 d-flex justify-content-between">

                    <mat-card-content class="d-flex flex-column half-size">
                        <label>Phone Number</label>
                        <mat-form-field appearance="outline">

                            <mat-label>Phone Number</mat-label>
                            <input matInput formControlName="phonenumber">
                        </mat-form-field>

                    </mat-card-content>


                    <mat-form-field class="date half-size">
                        <div>
                            <label>Choose Your Birth date :</label>
                            <input matInput [matDatepicker]="picker" formControlName="dob">
                        </div>
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle class="date-toggle" matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                </div>

                <mat-card-content class="d-flex flex-column">
                    <label>About me</label>
                    <mat-form-field appearance="outline">

                        <mat-label>About Me</mat-label>
                        <input matInput formControlName="aboutme">
                    </mat-form-field>

                </mat-card-content>


                <mat-card-content class="d-flex justify-content-center">
                    <button mat-raised-button color="primary" class="w-50" type="submit">Save</button>
                </mat-card-content>
                <mat-card-footer></mat-card-footer>
            </mat-card>
        </form> -->
    </div>
</div>









<!-- <div class="row d-flex justify-content-center main-body mt-5 mb-5">
    <div class="col-12 col-md-8">
        <form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
            <mat-card>

                <div class="d-flex justify-content-center mb-5">
                    <div class="user-image d-flex justify-content-center">
                        <input class="image-input" type="file" #Image accept="image/*"
                            (change)="handleFileInput($event)">
                        <img class="user-image" [src]="imageUrl" alt="">
                        <div class="edit-pencil"><i class="bi bi-pencil-square"
                                style="font-size: x-large;color: white;"></i></div>
                    </div>
                </div>

                <div class="div1 d-flex justify-content-between">
                    <mat-card-content class="d-flex flex-column half-size">
                        <label>Name</label>
                        <mat-form-field appearance="outline">
                            <mat-label>Name</mat-label>
                            <input matInput formControlName="name">
                        </mat-form-field>
                    </mat-card-content>
                    <mat-card-content class="d-flex flex-column half-size">
                        <label>Email</label>
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email">
                        </mat-form-field>
                    </mat-card-content>
                </div>


                <div class="div1 d-flex justify-content-between">
                    <mat-card-content class="d-flex flex-column mb-4 content-with-border half-size">
                        <div class="d-flex">
                            <label>Gender :</label>
                            <mat-radio-group class="mb-2" formControlName="gender">
                                <mat-radio-button class="ms-4" value="Male">Male</mat-radio-button>
                                <mat-radio-button class="ms-4" value="Female">Female</mat-radio-button>
                                <mat-radio-button class="ms-4" value="Other">Other</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </mat-card-content>

                    <mat-card-content class="d-flex flex-column content-with-border half-size">
                        <div class="d-flex">
                            <label>Status :</label>
                            <mat-radio-group class="mb-2" formControlName="status">
                                <mat-radio-button class="ms-4" value="Single">Single</mat-radio-button>
                                <mat-radio-button class="ms-4" value="Married">Married</mat-radio-button>
                                <mat-radio-button class="ms-4" value="Prefer Not To Say">Prefer Not To
                                    Say</mat-radio-button>
                            </mat-radio-group>
                        </div>

                    </mat-card-content>
                </div>

                <div class="div1 d-flex justify-content-between">

                    <mat-card-content class="d-flex flex-column half-size">
                        <label>Phone Number</label>
                        <mat-form-field appearance="outline">

                            <mat-label>Phone Number</mat-label>
                            <input matInput formControlName="phonenumber">
                        </mat-form-field>

                    </mat-card-content>


                    <mat-form-field class="date half-size">
                        <div>
                            <label>Choose Your Birth date :</label>
                            <input matInput [matDatepicker]="picker" formControlName="dob">
                        </div>
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle class="date-toggle" matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                </div>

                <mat-card-content class="d-flex flex-column">
                    <label>About me</label>
                    <mat-form-field appearance="outline">

                        <mat-label>About Me</mat-label>
                        <input matInput formControlName="aboutme">
                    </mat-form-field>

                </mat-card-content>


                <mat-card-content class="d-flex justify-content-center">
                    <button mat-raised-button color="primary" class="w-50" type="submit">Save</button>
                </mat-card-content>
                <mat-card-footer></mat-card-footer>
            </mat-card>
        </form>
    </div>
</div> -->