.main-body
{
    height: fit-content;
}
.custom-input{
    border:none;
    width: 100%;
    border-bottom: 0.5px solid grey;
}
.custom-input:focus{
    border:none !important;
    outline: none;
    border-bottom: 0.5px solid lightgray !important;
}
.mat-card{
    margin: 2%;
    text-align: left;
    box-shadow: 2px 2px 14px 16px rgb(182 182 182 / 40%), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.date{
    margin-bottom: 20px;
         width: fit-content;
         border: solid #dbdbdb 1px;
         padding: 7px;
         border-radius: 5px;
         
}



.content-with-border{
    border: solid #dbdbdb 1px;
    padding: 15px;
    border-radius: 5px;
}

.user-image{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    position: relative;
}
.image-input{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    opacity: 0;
    position: absolute;
    z-index: 22;
}

.edit-pencil{
    position: absolute;
    right: 0px;
    bottom : 0px;
    background-color: #22ce22;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

:host ::ng-deep .mat-form-field-infix{
    display: flex;
}

.date-toggle{    
    position: absolute;
    right: 5px;
}
.half-size{
    width:48%;
    height: fit-content;
}

@media screen and (max-width:769px){
  .div1{
    flex-direction: column !important;
  }
  .half-size{
    width: 100% !important;
  }
}