<nav class="navbar navbar-dark" [ngClass]="service.defaulttheme">
  <div class="row container-fluid" *ngIf="!service.myName">
    <div class="col-7 d-flex justify-content-end"> <span class="navbar-brand mb-0 h1">Chat Application</span></div>
    <div class="col-5 d-flex justify-content-end">
      <a class="btn btn-danger mx-1 " (click)="logout()">Home</a>
    </div>
  </div>



  <!-- after login header -->
  <div class="container-fluid d-flex" *ngIf="service.myName">
    <div class="col-2 col-sm-4 col-md-6">
      <div *ngIf="!isChatRoute && extractedWord !== 'chat'">
        <button class="btn btn-warning btn-sm" type="button" [routerLink]="['/chat']"><i class="bi bi-arrow-left"></i>
        <span class="d-none d-sm-inline-flex">  &nbsp; Back to Chat</span>
        </button>
      </div>
    </div>
    <div class="col-8 col-sm-7 col-md-6 d-flex justify-content-between header">
      <div>
        <span class="navbar-brand mb-0 h1">Chat Application</span>
      </div>

      <div class="dropdown mb-0 d-flex">

        <div class="d-flex me-2">
          <div class="p-1"  [class.defaultgreen]="isGreenActive" [class.bg-white]="!isGreenActive" (click)="toggleDivColors('headergreen')" style="margin:auto;">green</div>
          <div class="p-1"  [class.defaultpurple]="!isGreenActive" [class.bg-white]="isGreenActive" (click)="toggleDivColors('headerpurple')" style="margin:auto;">purple</div>
        </div>


        <div style="display: flex;align-items: center;" class="position-relative" (click)="openNotiDialogue()">
          <i class="bi bi-bell me-2" style="color: white; font-size: 22px;"></i>
          <span
            class="border rounded-circle msgdot position-absolute justify-content-center align-items-center d-flex fw-bolder"
            style="color:rgb(25, 135, 84)" *ngIf="this.service.countmsg>0">{{service.countmsg}}</span>
        </div>
        <div>
          <button class="btn btn-danger btn-sm me-3 gallery-btn" type="button" [routerLink]="['/gallery']"><i
              class="bi bi-images" style=" font-size: larger;"></i></button>
        </div>
        <div>
          <img class="user-image me-2" [src]="this.service.imageUrl" alt="">
          <button class="btn  dropdown-toggle p-0 dbtn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="navbar-brand ">{{service.myName}}</span>
          </button>
          <ul class="dropdown-menu mt-2" style="background-color: rgba(25,135,84,255);padding: 10px;">
            <hr>
            <li><a class="btn btn-primary mx-1 buttons" (click)="profile()">Profile</a></li>
            <hr>
            <li><a class="btn btn-danger mx-1 buttons" (click)="logout()">LogOut</a></li>
            <hr>
          </ul>
        </div>
      </div>

      <div class="d-flex  d-none bellicon">
        <div style=" display: flex;align-items: center;" class="position-relative" (click)="openNotiDialogue()">
          <i class="bi bi-bell me-2" style="color: white; font-size: 22px;"></i>
          <span
            class="border rounded-circle msgdot position-absolute justify-content-center align-items-center d-flex fw-bolder"
            style="color:rgb(25, 135, 84)" *ngIf="this.service.countmsg>0">{{service.countmsg}}
          </span>
        </div>
      </div>
   
      <div class="body togglebody d-none">
        <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
        <label for="openSidebarMenu" class="sidebarIconToggle">
          <div class="spinner diagonal part-1"></div>
          <div class="spinner horizontal"></div>
          <div class="spinner diagonal part-2"></div>
        </label>
        <div id="sidebarMenu" style="margin:0;padding: 0;">
          <div class="main-content-wrapper"  style="margin:0;padding: 0;background-color: transparent;">
            <div [ngClass]="service.defaulttheme" class="d-flex justify-content-center">
              <span><img class="me-2" style="width:20px;height:20px" [src]="this.service.imageUrl" alt=""></span>
              <span><a (click)="profile()">User Profile</a></span>
            </div>
          
            <div [ngClass]="service.defaulttheme" class="d-flex justify-content-center">
              <span><img class="me-2" style="width:20px;height:20px" src='/assets/img/logo.jpg' alt=""></span>
              <span style="margin-right: 23px;"><a (click)="logout()">LogOut</a></span>
            </div>

            <div [ngClass]="service.defaulttheme" class="d-flex justify-content-center p-1">
              <div class="p-1 text-black"  [class.defaultgreen]="isGreenActive" [class.bg-white]="!isGreenActive" (click)="toggleDivColors('headergreen')" >green</div>
              <div class="p-1 text-black"  [class.defaultpurple]="!isGreenActive" [class.bg-white]="isGreenActive" (click)="toggleDivColors('headerpurple')">purple</div>
            </div>

          </div>
        </div>
      </div>
   
    </div>
  </div>

</nav>