.header{
    position: relative;
}

/* .dropdown{
    position: absolute;
    right: 90px;
} */
.buttons{
   width:  -webkit-fill-available;
}
.msgdot{
    background-color: #07f107;
    width: 13px;
    height: 13px;
    top: 0px;
    left: 8px;
    font-size: small;
}

.gallery-btn{
    background-color: transparent;
    border: 0px;
}

.gallery-btn{
    background-color: transparent;
    border: 0px;
}

button.dbtn:focus {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: none;}

    hr{
        margin: 8px;
        opacity: 1;
    }

    .user-image{
        height: 20px;
        width: 20px;
        border-radius: 50%;
    }

    hr{
        color: white;
    }