<div class="container-fluid mt-5 ">


<div class="row mt-3 mainBody">
    <div class="col-lg-2">
        
        <div class="d-grid mb-2 cpbtn">
            <button class="btn  btn-block cgroup" (click)="openGroupModal()"  type="button" ><i class="bi bi-people-fill" style="font-size: x-large;"></i> &nbsp;Create Group</button>
        </div>
        
        <div class="card user-list border-secondary mb-3">


            <div class="card-header h3 text-center" style="background-color: rgb(25, 135, 84);color: white;">Users</div>
            <div class="card-body ">
                <div class="row mt-1" *ngFor="let user of service.offlineUsers">
                    <div class="col">
                        <div class="d-grid">
                            <button type="button" 
                            [disabled]="user.username === service.myName"
                            (click)="openPrivateChat(user.username,user.imgstr,true)"
                            class="btn card-text d-flex justify-content-start users" ><img class="user-image me-2" [src]="user.imgstr ? user.imgstr : '/assets/img/profile.png'" alt="">
                            {{user.username}}
                        <span *ngIf="user.username === service.myName"> (you)</span>  <span class="fw-bolder text-primary" *ngIf="user.username===service.username && service.isTyping">typing...</span> 
                            <span class="position-absolute pos_dot"    *ngIf="service.onlineUsers.includes(user.username)">
                            <div class="onlinesign"></div>
                         </span>
                        </button>
                        </div>
                    </div>
                </div>
                
                        <!-- for groups -->
                <div class="row mt-1" *ngFor="let grp of service.groups">
                    <div class="col">
                        <div class="d-grid">
                            <button  (click)="openGroupChat(grp.groupname)" type="button" class="btn card-text  btn-group mt-1" >
                                <i class="bi bi-people-fill ms-2" style="font-size: large;"></i> &nbsp; {{grp.groupname}} 
                            </button>
                        </div>
                    </div>
                </div>
                        <!-- for groups ends -->

                


            </div>

        </div>
    </div>

    <div class="col-lg-8">
        <div class="card border-secondary g-chat" style="height:749px;">
            <div class="card-header h3 text-muted text-center">General Chat</div>
            <div class="card-body" style="min-height: 500px;background-color: white;">
                <app-messages [messages]="service.messages" *ngIf="buttonWasClicked"></app-messages>
                <app-private-chats *ngIf="!buttonWasClicked"></app-private-chats>
            </div>
            <div class="card-footer">
                <app-chat-input-general (contentemitter)="sendMessage($event)"></app-chat-input-general>
                <!-- <app-chat-input (contentemitter)="sendMessage($event)"></app-chat-input> -->
            </div>
        </div>
    </div>

</div>

</div>