.mainBody{
    height: 700px;
}
.pos_dot{
    right:22px;
}
.onlinesign{
    height: 10px;
    width: 10px;
    background: #07f107;
    border-radius: 25px;
}

.cgroup{
    background-color: yellow;
    color: black;
    font-weight: 500;
}
.hbutton{
    
    font-weight: 500;
}

.cpbtn{
    border: solid gray 1px;
    border-radius: 8px;
}

.user-list{
    height: 700px;
    overflow-y: auto;
    border:0px;
    box-shadow: 3px 3px 13px -3px #888888;

}

.g-chat{
    border:0px;
    box-shadow: 3px 3px 13px -3px #888888;
}
.btn-group{
    padding: 5px;
    background-color: white;
    border :0px;
    box-shadow: 3px 3px 13px -3px #888888;

}

 .user-image{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: solid green 1px;
}

.users{
    /* background-color: #eaeaea; */
    border: 0px;
    background-color: white;
    box-shadow: 3px 3px 13px -3px #888888;
}



.card-body{
    background-color:#f8f8f8 ;
}

.cgroup{
    background-color: rgb(25, 135, 84);
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white
}
.mat-form-field{
    display: block !important;
}
/* .cdk-overlay-pane{
    top:500px !important;
} */