



/* :root{
    --main-color: #07f107;
    --second-color:#3f51b5;
} */
.headergreen{
 background-color: rgb(25, 135, 84);
}
.headerpurple{
background-color:#3f51b5 ;
}
.defaultgreen{
  background-color: #90ee90;
}
.defaultpurple{
  background-color: #CEC2EB;
}
.bg-white{
  background-color: white;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* .modal-container{
    z-index: 1000;
    position:relative;
}
.dialogue-container{
    z-index: 1500;
    position: relative;
} */

.cdk-global-overlay-wrapper, 
.cdk-overlay-container, 
.cdk-overlay-connected-position-bounding-box {
    z-index: 9999!important;
}
.custom-dialog-container .mat-dialog-container {
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  /* position: absolute; */
}
.modal-dialog {
    width: 85% !important;
    max-width: 683px !important;
  }
  .modal-content{
    width:100% !important;
    max-width: 683px !important;
  }
  mat-select.forbox .cdk-overlay-pane{
    top: 150px !important;
}
.mat-select-value{
    opacity: 0;
}
.mat-select-placeholder{
    margin-bottom:10px;
}
.mat-chip.mat-standard-chip.mat-chip-selected.mat-accent {
    background-color: rgb(25, 135, 84) ;
}
.mat-tab-labels{
    justify-content: space-between !important;
}
.mat-ink-bar{
    margin-bottom: 10px !important;
}
.emojionearea.emojionearea-inline{
  border-radius: 23px !important;
}
/* Customize the scrollbar track */
::-webkit-scrollbar{
    width: 12px; 
  }
  
  ::-webkit-scrollbar-track{
    background-color: white; 
  }
  
  
  ::-webkit-scrollbar-thumb{
    background-color: grey; 
    border-radius: 6px; 
    border: 3px solid white; 
  }
  
 
  ::-webkit-scrollbar-thumb:hover{
    background-color: rgb(0, 92, 50); 
  }
  @media screen and (max-width: 576px) {
    .modal-content{
        margin: auto !important;
      }
      .modal-dialog{
        margin-inline:auto !important ;
      }
  }
  /* @media screen and (max-width: 720px) {
    .modal-content{
        width: 127% !important;
        margin-left: -74px !important;
      }
  }
  @media screen and (max-width: 845px) {
    .modal-content{
        width: 128% !important;
        margin-left: -88px !important;
      }
  }
  @media screen and (max-width: 986px) {
    .modal-content{
        width: 128% !important;
        margin-left: -63px !important;
      }
  } */