<div class="text-center mt-5">
    <h3>Let's Get You Connected And <span class="text-danger"> Chat</span> With Other <span class="text-info">
            People</span></h3>
</div>

<div class="text-center mt-3">
    <h3 class="text-secondary" style="font-weight: 500;">Log-in to use this app</h3>
</div>


<div class="d-flex justify-content-center mt-5 mainBody">
    <div class="" style="width: 350px;">
        <main class="form-signin" style="box-shadow: 7px 7px 10px #b7b7b7;">
            <form [formGroup]="userForm" (ngSubmit)="submitForm()" autocomplete="off" class="p-3 border">
                <p class="mb-3 mt-3 text-center" style=" color: grey;">Sign in to enter the chat</p>

                <div *ngIf="userForm.errors?.['InvalidUser']" class="alert alert-danger">
                    Invalid Credentials
                </div>
                <div *ngIf="userForm.errors?.['CheckUser']" class="alert alert-danger">
                    UserName taken
                </div>
                <div *ngIf="userForm.errors?.['servererror']" class="alert alert-danger">
                    Server Error
                </div>
                <!-- <h4>Choose your name</h4> -->
                <div class=" mb-3 d-flex" style="border: solid rgb(185, 185, 185) 1px;border-radius: 5px;">
                    <i class="bi bi-person-fill"
                        style="font-size: x-large;border-right: solid rgb(185, 185, 185) 1px;padding: 5px;"></i>
                    <input formControlName="username" type="text" class="form-control " style="border: 0px;"
                        placeholder="Name" [class.is-invalid]="submitted && userForm.get('name')?.errors">
                    <!-- <label for="Name">Name</label> -->
                  
                </div>
                <span class="text-danger" *ngIf="submitted && userForm.get('username')?.hasError('required')">
                    Please choose a name
                </span>

                <span class="text-danger" *ngIf="submitted && userForm.get('username')?.hasError('maxlength')||
                userForm.get('username')?.hasError('minlength')">
                    Your name must be atleast 3 , and maximum 15 characters
                </span>


                <!-- <h4>Enter Password</h4> -->

                <div class=" mb-3 d-flex" style="border: solid rgb(185, 185, 185) 1px;border-radius: 5px;">
                    <i class="bi bi-key-fill"
                        style="font-size: x-large;border-right: solid rgb(185, 185, 185) 1px;padding: 5px;"></i>
                    <input formControlName="password" type="password" style="border: 0px;" class="form-control"
                        placeholder="Password" [class.is-invalid]="submitted && userForm.get('password')?.errors">
                    <!-- <label for="Password">Password</label> -->
                </div>
                <span class="text-danger" *ngIf="submitted && userForm.get('password')?.hasError('required')">
                    Please enter password
                </span>



                <div class="d-grid mt-4 ">
                    <button class="btn btn-warning" type="submit">Log In</button>
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <p class="noAccount">Don't have an account?</p>
                    <a class="" style="text-decoration: none;" [routerLink]="['/register']">Create an account</a>
                </div>

                <div class="d-flex justify-content-center mt-3">
                    <!-- <p class="noAccount">Don't have an account?</p> -->
                    <a class="" style="text-decoration: none;color: red;" [routerLink]="['/register']">Forgot
                        Password ?</a>
                </div>


            </form>

        </main>
    </div>
</div>